<div class="user-details">
    <h1> About Me </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Web UI</h2>
        <div class="devicons">
            <i class="devicon-html5-plain-wordmark colored"></i>
            <i class="devicon-css3-plain-wordmark colored"></i>
            <i class="devicon-tailwindcss-plain colored"></i>
        </div>
        <p> Built responsive interfaces using HTML and CSS along with libraries and frameworks such as Bootstrap, TailwindCSS, and ShadCN in both personal and professional projects. </p>
    </div>
    <div class="tech">
        <h2>Languages</h2>
        <div class="devicons">
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-typescript-plain colored"></i>
            <i class="devicon-python-plain-wordmark colored"></i>
        </div>
        <p> Experienced with Python, TypeScript, and JavaScript across full-stack projects. Also comfortable with C++ and Java, both of which I've used extensively in academic work. </p>
    </div>
    <div class="tech">
        <h2>Tech Stack</h2>
        <div class="devicons">
            <i class="devicon-flask-plain-wordmark colored"></i>
            <i class="devicon-fastapi-plain-wordmark colored"></i>
            <i class="devicon-react-original-wordmark colored"></i>
        </div>
        <p> Worked with FastAPI, Flask, React/ReactNative, and SQLAlchemy in both production and personal projects. Also familiar with NumPy, Pandas, and PyTorch for data processing and machine learning through academic projects. </p>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <div class="devicons">
            <i class="devicon-git-plain"></i>
            <i class="devicon-docker-plain-wordmark colored"></i>
            <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <p> Used Git, Docker and MySQL regularly in team and solo projects. Also experienced with PostgreSQL and Vite in personal development workflows. </p>
    </div>
</div>
