<div class="user-details">
  <h1> Academic Projects </h1>
</div>
<div class="user-projects">
  <!-- <div class="images-right">
    <img />
  </div> -->
  <div class="contents">
    <h3> Machine Learning Stock Trading Strategy Optimizer </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
      A simulator that uses reinforcement learning to train an agent to trade
      stocks based on certain indicators. The agent learns buy and sell signals based
      on historical data, using a custom reward function to maximize profit.
      The simulator allows for testing different trading strategies and
      visualizing the results.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/coductor"> Check it out </a> -->
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-left">
    <img />
  </div> -->
  <div class="contents-right">
    <h3> Computer Vision IQ Test Solver </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
      A computer vision based application that utilizes a set of heuristics combined with pixel evaluation techniques to
      determine a pattern in a set of images and propose the next expected image.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/quizgen"> Check it out </a> -->
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-right">
    <img />
  </div> -->
  <div class="contents">
    <h3> Attention-based Key-Value Memory Network QA System </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
        An attention-based question and answer language model that makes use of a key-value memory network
        (stored information that isn't ingrained into the neural network in the form of key-value pairs) thus
        allowing for modification to the models knowledge without retraining the model. Keys are selected as an
        answer to a question based on an attention-scoring mechanism and cosine similarity.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet"> Check it out </a> -->
  </div>
</div>
