<div class="contact">
    <h1>Contact</h1>
</div>
<form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
    <input type="hidden" name="access_key" value="978dbba1-43c9-4b06-b918-c96d725a532a">
    
    <!-- Form Fields -->
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="subject">Message:</label>
    <textarea name="message" rows="4" required></textarea>

    <!-- Honeypot Spam Protection -->
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    <div class="h-captcha" data-captcha="true"></div>

    <!-- Custom Confirmation / Success Page -->
    <!-- Change to a thank you page. -->
    <input type="hidden" name="redirect" value="https://katza18.github.io/">

    <button type="submit">Submit Form</button>

</form>