<div class="user-details">
  <h1> Professional Projects </h1>
</div>
<div class="user-projects">
  <!-- <div class="images-right">
    <img />
  </div> -->
  <div class="contents">
    <h3> Retail Delivery Driver Mobile App </h3>
    <ul>
      <li> React Native, TypeScript </li>
    </ul>
    <p>
        A mobile application for retail delivery drivers with support for apple and android devices.
        The app pulls delivery data from the company's API, provides routing and navigation for orders,
        real-time delivery status and tracking for the store, and seamless communication via text chat and VOIP calling.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/coductor"> Check it out </a> -->
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-left">
    <img />
  </div> -->
  <div class="contents-right">
    <h3> Retail Admin Website Contribution </h3>
    <ul>
      <li> CFML, JavaScript, HTML, CSS </li>
    </ul>
    <p>
        Contributed to the development of an in-house retail admin website. The site included database access for retail orders, inventory,
        delivery management, customer management, business reporting, and more.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/quizgen"> Check it out </a> -->
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-right">
    <img />
  </div> -->
  <div class="contents">
    <h3> Automated Azure Document Intelligence Invoice Processor </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
        An Azure App that takes invoices directly from email attachments and inserts line items into Dynamics 365 Business Central inventory
        using Azure Document Intelligence. This application includes a custom Business Central extension that allows users to provide updated
        invoice data to the model for training. This service eliminated hours of manually inputting inventory from thousands of invoices per month.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet"> Check it out </a> -->
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-left">
    <img />
  </div> -->
  <div class="contents">
    <h3> Various Dynamics 365 Business Central Custom Extensions </h3>
    <ul>
      <li> Microsoft AL </li>
    </ul>
    <p>
        In transitioning a retail company to Dynamics 365 Business Central, I have built many AL extensions for various tasks like API endpoints,
        custom reports, additional functionality, and more.
    </p>
    <!-- <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet"> Check it out </a> -->
  </div>
</div>
