<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
        alt="A CLI for coductor with prompt for project idea and response with proposal"
        src="{{ "/assets/img/coductor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Coductor - Intelligent CLI Project Manager </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
        Created a command-line tool powered by the OpenAI API that scaffolds and
        manages new software projects. Given a simple project idea, Coductor generates
        a project proposal, README, file/directory structure, tests, and docstrings.
        It also supports incremental scaffolding as new features are added. This
        combines AI with developer workflows to boost developer productivity.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/coductor"> Check it out </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="A quiz question with multiple-choice options." src="{{ "/assets/img/quiz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> QuizGen - AI-Powered Quiz Generator </h3>
    <ul>
      <li> Python, TypeScript, React, FastAPI, TailwindCSS, ShadCN, PostgreSQL, Vite </li>
    </ul>
    <p>
        Developed a full-stack web application that generates multiple-choice
        quizzes on any topic using the OpenAI API. Implemented token usage tracking
        to prevent overuse and a storage layer that allows users to revisit and
        complete quizzes.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/quizgen"> Check it out </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="A Gobblet board with white and black pieces on it." src="{{ "/assets/img/gobblet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PyGobbletAI - Strategy Board Game Opponent </h3>
    <ul>
      <li> Python, Flask, HTML/CSS, JavaScript </li>
    </ul>
    <p>
        Built a web-based version of the strategy game Gobblet with an AI opponent.
        The AI leverages the minimax algorithm with alpha-beta pruning for optimized
        move evaluation. Difficulty is dynamically adjusted by tuning the AI’s
        lookahead depth. This project showcases the usage of advanced search
        and optimization algorithms in an engaging, interactive format.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet"> Check it out </a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ML Stock Trading Strategy Simulator </h3>
    <ul>
      <li> Python, PyTorch, Pandas, NumPy </li>
    </ul>
    <p>
        A simulator that uses reinforcement learning to train an agent to trade
        stocks based on indicators. The agent learns to buy and sell stocks based
        on historical data, using a custom reward function to maximize profit.
        The simulator allows for testing different trading strategies and
        visualizing the results.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet">Check it out</a>
  </div>
</div> -->
