<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
        alt="A CLI for coductor with prompt for project idea and response with proposal"
        src="{{ "/assets/img/coductor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Coductor </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>
        An intelligent CLI that uses the OpenAI API to scaffold new software
        projects by writing README's and TODO's and generating necessary files,
        directories, tests, and docstrings based on a user's project idea.
        Included support for scaffolding as needed after adding additional
        features to a project specification.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/coductor"> Check it out </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="A quiz question with multiple-choice options." src="{{ "/assets/img/quiz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> QuizGen </h3>
    <ul>
      <li> Python, TypeScript, React, FastAPI, TailwindCSS, ShadCN, PostgreSQL, Vite </li>
    </ul>
    <p>
        A full-stack web application that generates multiple choice quizzes on
        any topic using the OpenAI API. User token usage is tracked to prevent
        overuse and questions are stored to allow users to complete quizzes
        after using their available tokens.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/quizgen"> Check it out </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="A Gobblet board with white and black pieces on it." src="{{ "/assets/img/gobblet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PyGobbletAI </h3>
    <ul>
      <li> Python, Flask, HTML/CSS, JavaScript </li>
    </ul>
    <p>
        A web-based implementation of the board game Gobblet with an AI to play
        against. The AI is based on the minimax algorithm optimized with alpha-beta pruning.
        Difficulty is adjusted by limiting the number of moves the AI can look ahead.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet"> Check it out </a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ML Stock Trading Strategy Simulator </h3>
    <ul>
      <li> Python, PyTorch, Pandas, NumPy </li>
    </ul>
    <p>
        A simulator that uses reinforcement learning to train an agent to trade
        stocks based on indicators. The agent learns to buy and sell stocks based
        on historical data, using a custom reward function to maximize profit.
        The simulator allows for testing different trading strategies and
        visualizing the results.
    </p>
    <a class="project-link" target="_blank" href="https://www.github.com/katza18/pythongobblet">Check it out</a>
  </div>
</div> -->
